body{background: #1F1F1F}
.gojiswap .swapper{background: rgba(31, 31, 31, 0.7); border: 0.5px solid #484848; box-shadow: 0px 4px 40px rgba(141, 195, 63, 0.25);}
.uniswap .swapper{background: rgba(31, 31, 31, 0.7); border: 0.5px solid #484848; box-shadow: 0px 4px 40px #3C2238;}
.oneinch .swapper{background: rgba(31, 31, 31, 0.7); border: 0.5px solid #484848; box-shadow: 0px 4px 40px #3C2238;}
.sushiswap .swapper{background: rgba(31, 31, 31, 0.7); border: 0.5px solid #484848; box-shadow: 0px 4px 40px #3C2238;}
.quickswap .swapper{background: rgba(31, 31, 31, 0.7); border: 0.5px solid #484848; box-shadow: 0px 4px 40px #2172E5;}
.swapper .nav-item a{color: white}
.input-group input{background: #1F1F1F; border: 0.5px solid #484848; color: white}
.crypto-tbl{background: rgba(31, 31, 31, 0.95); border: 0.5px solid #484848;}
.crypto-tbl thead{color: white}
.crypto-tbl tbody tr{background: #1A111D}
.crypto-tbl tbody{color: #DFDFDF}
.input-heading{color: white;}
.toggle-switch label{color: white;}